body {
    margin: 0px;
    padding: 0px;
}


/*LOGO BUTTONS----------------------------------------*/
.btn-container {
    float: right;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;

}

.checkbox {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#content-wrap {
    width: 800px;
}

/*ADDRESS BOX------------------------------------------*/
#bg-img {
    /* The image used */
    background-image: url("../images/bykort-kbh.png");
    /* Control the height of the image */
    min-height: 400px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Add styles to the form container */
.formcontainer {
    position: absolute;
    margin: 20px;
    max-width: 25%;
    padding: 16px;
    background-color: #8d7a69ff;

}

/* Limited-width input fields ensure fields stay withing box shape*/
input[type=text], input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

/* Search button */
.btn2 {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn2:hover {
    opacity: 1;
}

/*CONFIRMATION BUTTON--------------------------------*/
#confirmation-button2 {
    float: right;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/*BACKGROUND MAP------------------------------------*/
/*Responsive design*/
img {
    width: 100%;
    height: auto;
}