* {
    margin: 0px;
    padding: 0px;
}

#menu{
    /*Her ordnes den box som omgiver knapperne og samtidig placering af knapperne*/
    background: rgba(90, 163, 0, 1);
    padding: 20px;
    text-align: center;
}

.blue-background {
    background-color: #039ee6ff;
}

/*LOGO BUTTONS----------------------------------------*/
.btn-container {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.checkbox {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
}

/*ADDRESS BOX------------------------------------------*/
body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("../order-images/bykort-kbh.png");
    font-family: "Trebuchet MS";
    /* Control the height of the image */
    min-height: 400px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Add styles to the form container */
.container {
    position: absolute;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: #8d7a69ff;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

/*BACKGROUND MAP------------------------------------*/
/*Responsive design*/
img {
    width: 100%;
    height: auto;
}