* {
    font-family: "Trebuchet MS", serif;
}


html,body{
    height: max-content;
    margin: 0;
    padding: 0;
}

#preferences{
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
