* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", serif;
}


html,body{
    height: max-content;
    margin: 0;
    padding: 0;
}

#text{
    max-width: 400px;
    padding-right: 50px;
    text-align: left;

}

main{
    padding-top: 40px;
    padding-bottom: 40px;
}
#title{
    padding-bottom: 20px;
}

#pictureoffood{
    width: 500px;
    height: 300px;
}

#content{
    display: flex;
    justify-content: center;
    align-content: center;

}
