* {
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS", serif;
}

html,body{
    height: max-content;
    margin: 0;
    padding: 0;
    background-color: khaki;
}

#menu{
    /*Her ordnes den box som omgiver knapperne og samtidig placering af knapperne*/

    display: flex;
    background: darkolivegreen;
    border-radius: 30px;

    /*Margin*/
    margin: 20px 200px 15px 200px;

    /*padding fortæller noget om hvor stor selve panel-boxen skal være*/
    padding-bottom: 20px ;
    padding-top: 20px;

}

main{
background-color: sandybrown;
}

button{

    padding: 10px 30px;
    background-color: antiquewhite;
    color: #26272b;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 16px;
}


button:hover{
    background-color: lightgrey;
    color: black;
}


h1{
    margin: 10px;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}
#preferences{
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

}
footer{
    background-color:#26272b;
    padding: 15px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    display: flex;
    justify-content: center;
    align-content: center;
}

