#menu{
    /*Her ordnes den box, der omgiver knapperne samt placeringen af knapperne*/
    background: #5aa300ff;
    border: solid black;
    padding: 20px;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

#header{
    /*How the headline is gonna look*/
    position: absolute;
    text-align:center;
    top: 25%;
    left:50%;
    transform: translate(-50%,-50%);
    font: normal 100px "Trebuchet MS";
    color: #039ee6ff; /*Eller 190a00ff*/
}

.skrifttype{
    font-family: "Trebuchet MS";
    color: #190a00ff;
    position:relative;
}

#deloverskrift{
    alignment: left;
}

#div1{
    left:5px;
    top:150px;
}

#div2{
    left:20px;
    top:290px;
}
