#menu{
    /*Her ordnes den box, der omgiver knapperne samt placeringen af knapperne*/
    background: #5aa300ff;
    border: solid black;
    padding: 20px;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

#header{
    /*How the headline is gonna look*/
    position: absolute;
    text-align:center;
    top: 25%;
    left:50%;
    transform: translate(-50%,-50%);
    font: normal 100px "Trebuchet MS";
    color: #000000;
}

.elements {
    font-family: "Trebuchet MS";
    color: #190a00ff;
    position: relative;
    padding: 20px;
    padding-top: 100px;
}

#deloverskrift{
    alignment: left;
}

.image_left{
    padding-right: 10px;
    align: left;
}

.image_right{
    align:right;
    padding-left: 10px;
    padding-right: 20px;
}

.image_size{
    height: 300px;
    width: 440px;
}
