body{
    margin:0px;
    padding:0px;

}

#menu{

    /*Her ordnes den box som omgiver knapperne og samtidig placering af knapperne*/

    background: #039ee6ff;
    border-radius: 30px;
    padding: 5px;

    text-align: center;
    position: center;

    /*Margin*/
    margin-top: 20px;
    margin-right: 425px ;
    margin-left:425px ;
    margin-bottom: 15px;

    /*padding fortæller noget om hvor stor selve panel-boxen skal være*/

    padding-bottom: 20px ;
    padding-top: 20px;

}

#menu button{
    /*Her ordnes selve knapperne*/

    border-radius: 30px;
    border-color: black;
    height: 50px;
    width: 100px;

    font-size: 20px;
    background:white;
    color: black;
    font: normal 14px Trebuchet MS;

}

#shoppingcart{
    position: absolute;
    text-align:center;
    top: 60%;
    left:50%;
    transform: translate(-50%,-50%);

}

.custom-radio
{
    conten: "fa fa-heart";
}

/*#header{

    border: solid black;

    /*Ændre tykkelse på border
    border-width: 5px;

    /*Ændre skarpe kanterne skal være på border
    border-radius: 20px;

    /*Ændre hvor bred borderen er
    margin-left: 580px;
    margin-right: 580px;

    /*Ændre hvor meget plads der fra tekst til toppen af border og fra tekst til bunden af border
    padding-top: 15px ;
    padding-bottom: 15px;

    font: bold 30px Trebuchet MS;

    /*Man skal både skrive text-align og position for at få det i midten
    text-align: center;
    position: center;

}*/

#header2{
    position: absolute;
    text-align:center;
    top: 20%;
    left:50%;
    transform: translate(-50%,-50%);
    font: italic 100px Trebuchet MS;
    z-index: 5;
}