body{
    margin:0px;
    padding:0px;

}

#header2{
    margin-top: 5%;
    margin-left: 50%;

    text-align:center;
    top: 20%;
    left:50%;
    transform: translate(-50%,-5%);
    font: italic 100px Trebuchet MS;
    z-index: 5;

}


#shoppingcart{
    margin-top: 5%;
    margin-left: 50%;

    text-align:center;
    top: 20%;
    left:50%;


    transform: translate(-50%,-5%);

    display: block;
    border: dashed #27af1d;
    border-radius: 20px;
}


#bekræftelsesmail{
    font: italic 50px Trebuchet MS;
}
#arrow{
    margin-top: 0%;

}
