body{
    margin:0px;
    padding:0px;

}

#header2{
    margin-top: 10%;
    margin-left: 50%;

    text-align:center;
    top: 20%;
    left:50%;
    transform: translate(-50%,-50%);
    font: italic 100px Trebuchet MS;
    z-index: 5;
}


#shoppingcart{
    margin-top: 20%;
    margin-left: 50%;
    margin-bottom: 5%;
    text-align: center;

    transform: translate(-50%,-50%);

}


#bekræftelsesmail{
    margin-top: 20%;
    margin-left: 50%;
    text-align:center;
    top: 20%;
    left:50%;
    transform: translate(-50%,-50%);
    font: italic 50px Trebuchet MS;
    z-index: 5;

}