<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/Bestillingsside.css">
</head>
<body><!--style="background-color: rgba(3, 250, 85, .005)"-->

<nav id="menu">
    <button style="margin: 20px" id="opskrifter">Opskrifter</button>
    <button style="margin: 20px" id="Bestilling">Bestilling</button>
    <button style="margin: 20px" id="Vision">Vores Vission</button>
</nav>

<div>
    <img src="images/netto-logo.png"
         height="100" width="100" align="left"; style="padding-left: 300px; padding-top: 40px">
    <header id="header">Hvad vi tilbyder</header>

</div>

<body>
<!-- favorit-knap-->
<div class='brand'>
    <a href='https://www.jamiecoulter.co.uk' target='_blank'>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png'>
    </a>
</div>
<div class='wrapper' id="placer_like">
    <div class='wrapper_content'>
        <div class='wrapper_content__inner'>
            <input id='click' type='checkbox'>
            <label for='click'>
                <div class='favourite'>
                    <div class='spinner'>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                    </div>
                    <div class='favourite_heart'>
                        <div class='favourite_heart__left'></div>
                        <div class='favourite_heart__right'></div>
                    </div>
                    <div class='favourite_text'>
                        <span>Favourite this</span>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>

<div id="placer_box"; align="justify"; style="padding: 10px; color: black; background-color: lightgray; border: gray 5px solid;
    margin: 20px; width: 1200px; height: 200px;">
    <p align="justify"; style="padding: 10px; color: black; background-color: white; border: gray 5px solid;
    margin: 20px; width: 1100px; height: 100px;"></p>
</div>

</body>


</html>

