<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bekræft bestilling</title>
    <link rel="stylesheet" href="/css/global-styles/fonts.css"/>
    <link rel="stylesheet" href="/css/global-styles/footer.css"/>
    <link rel="stylesheet" href="fonts.css"/>
</head>
<nav id="menu">
    <button style="margin: 20px" id="Opskrifter">Opskrifter</button>
    <button style="margin: 20px" id="Bestilling">Bestilling</button>
    <button style="margin: 20px" id="Vision">Vores vision</button>
</nav>
<body>

<!-- butiksoversigt -->

<!-- bestillingsoversigt -->
<section>
    <div>
        <!-- ordre: afhentning, levering-->
    </div>

    <div>
        <!-- tabel m. ordreinfo-->
        <table class="fixed-table">
            <tr>Varer</tr>
            <tr>Antal</tr>
            <tr>Pris</tr>
        </table>

    </div>
        <!-- billede-->
    <div>

    </div>
</section>

<!-- adresse og levering -->
<section>

</section>

<!-- bekræft -->
<section>
    <button>Bekræft bestilling</button>
</section>
</body>

<footer >
    <section class="blue-background">
        <table class="fixed-table">
            <tr>
                <td class="PerformanceTable"><b>Kontakinformation</b></td>
                <td><b>FAQ</b></td>
                <td><b>Få mere at vide</b></td>
            </tr>
            <tr>
                <td>Briesgade 33</td>
                <td>Vidste du</td>
                <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
            </tr>
            <tr>
                <td>1326 København K</td>
                <td>Masser af spild</td>
                <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
            </tr>
        </table>
    </section>
</footer>
</html>