<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bekræft bestilling</title>
    <link rel="stylesheet" href="/css/global-styles/footer.css"/> <!-- > skriv static/css... for at åbne direkte-->
    <link rel="stylesheet" href="/css/global-styles/fonts.css"/> <!-- > skriv static/css... for at åbne direkte-->
    <link rel="stylesheet" href="/css/global-styles/Header.css"/>
    <link rel="stylesheet" href="/css/global-styles/colors.css"/>
    <link rel="stylesheet" href="/css/order-pages/Order.css"> <!-- > skriv static/css... for at åbne direkte-->
    <link rel="stylesheet" href="/css/order-pages/confirm-order.css"> <!-- > skriv static/css... for at åbne direkte-->

</head>
<header>
    <div id="logoAndButtons">
        <a href="http://localhost:8080/home">
            <img id="logo" src="css/images/no_text_transparant_food_waste_logo.png" alt="Main logo">
        </a>

        <nav id="menu">
            <button onclick="window.location.href='/Recipe'"> Opskrifter </button>
            <button onclick="window.location.href='/Order'"> Bestilling </button>
            <button onclick="window.location.href='/OurVision'"> Vores vision </button>
        </nav>

        <div id="emptybox"> </div>
    </div>
    <div id="Headline">
        <h1>Bekræft Bestilling</h1>
    </div>

</header>
<body>

<!-- yderste div-->
<div id="container">

    <!-- butiksoversigt -->
    <div id="head">
        <div id="shop-logo">
            <img src="/css/images/order-images/scottie_yellow.png"/>
        </div>
        <div id="we-offer">
            <h1>Din ordre</h1>
        </div>
        <div id="favorit">
            <input type="checkbox">
            <label for="favorit"><b>Gem som favorit</b></label>
        </div>

    </div>

    <!-- indhold -->
    <div id="upper-body">
        <!-- bestillingsoversigt -->
        <div id="deliver-or-pickup">
            <b>Afhentning eller levering</b>
            <!-- ordre: afhentning, levering-->
            <tr>
            <label>Afhentning
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            </tr>
            <label>Levering
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>

        <div id="overview">
        <!-- tabel m. ordreinfo-->
            <table id="item-quantity-price">
                <tr>
                    <th>Vare</th>
                    <th>Antal</th>
                    <th>Pris</th>
                </tr>
                <tr>
                    <td>Ost</td>
                    <td>2</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>Mælk</td>
                    <td>1</td>
                    <td>12</td>
                </tr>
                <tr><td>Agurk</td>
                    <td>3</td>
                    <td>8</td>
                </tr>
            </table>
        </div>
        <!-- billede-->
        <div id="item-image">
            <img src="/css/images/order-images/COLOURBOX-groceries.jpg">
        </div>
    </div>
</div>

<!-- adresse og levering -->
<div id="lower-body">
</div>

<!-- bekræft -->
<div id="confirmation-button">
    <button onclick="window.location.href='/ThanksBuying'"> Bekræft bestilling </button>
</div>

</body>

<footer id="footer">
    <section>
        <table id="fixed-footer-table">
            <tr>
                <td><b>Kontakinformation</b></td>
                <td><b>FAQ</b></td>
                <td><b>Få mere at vide</b></td>
            </tr>
            <tr>
                <td>Briesgade 33</td>
                <td>Vidste du</td>
                <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
            </tr>
            <tr>
                <td>1326 København K</td>
                <td>Masser af spild</td>
                <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
            </tr>
        </table>

    </section>
</footer>
</html>