<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bekræft bestilling</title>
    <link rel="stylesheet" href="static/css/global-styles/footer.css"/>
    <link rel="stylesheet" href="static/css/global-styles/fonts.css"/>
    <link rel="stylesheet" href="static/css/order-pages/Order.css">
    <link rel="stylesheet" href="static/css/order-pages/confirm-order.css">
</head>
<nav id="menu">
    <button style="margin: 20px" id="Opskrifter">Opskrifter</button>
    <button style="margin: 20px" id="Bestilling">Bestilling</button>
    <button style="margin: 20px" id="Vision">Vores vision</button>
</nav>
<body>

<!-- yderste div-->
<div id="container">

    <!-- butiksoversigt -->
    <div id="header">

    </div>

    <!-- indhold -->
    <div id="content">

        <div id="Ordre">
            <h1>Bekræft ordre</h1>
            <label>Vegetarisk
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>

            <label>Vegansk
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>

        <div id="tabel antal/pris/varer"></div>
            <table class="center">
                <tr>Varer</tr>
                <tr>Antal</tr>
                <tr>Pris</tr>
            </table>
        </div>

        <div id="billede"></div>

    </div>
    <!-- bestillingsoversigt -->

    <!-- ordre: afhentning, levering-->

    <!-- tabel m. ordreinfo-->

    <!-- billede-->



    <!-- adresse og levering -->


    <!-- bekræft -->



</div>

</body>

<footer class="blue-background">
    <section>
        <table class="fixed-table">
            <tr>
                <td class="PerformanceTable"><b>Kontakinformation</b></td>
                <td><b>FAQ</b></td>
                <td><b>Få mere at vide</b></td>
            </tr>
            <tr>
                <td>Briesgade 33</td>
                <td>Vidste du</td>
                <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
            </tr>
            <tr>
                <td>1326 København K</td>
                <td>Masser af spild</td>
                <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
            </tr>
        </table>

    </section>
</footer>
</html>