<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <link rel="stylesheet" type="text/css" href="/css/global-styles/Header.css">
    <link rel="stylesheet" type="text/css" href="/css/global-styles/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/error.css">
    <link rel="stylesheet" type="text/css" href="/css/global-styles/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/global-styles/colors.css">
    <link rel="icon" href="css/images/favicon.ico"/>
</head>
<body>
<header>
    <nav id="menu">
        <button id="opskrifter" onclick="window.location.href='/Recipe'"> Opskrifter </button>
        <button id="order" onclick="window.location.href='/Order'"> Bestilling </button>
        <button id="vision" onclick="window.location.href='/OurVision'"> Vores vision </button>
    </nav>

    <div id="logoAndHeadline">
        <a href="http://localhost:8080/home">
            <img id="logo" src="/css/images/food-waste-logo.jpg" alt="Main logo">
        </a>
        <h1> Der er opstået et problem </h1>
        <div id="emptybox"> </div>
    </div>

</header>

    <div id="error">

    <button id="errorButton" onclick="window.location.href='//www.youtube.com/watch?v=dQw4w9WgXcQ'">Klik her for at komme tilbage</button>
    </div>

    <footer id="footer">
        <section>
            <table id="fixed-footer-table">
                <tr>
                    <td><b>Kontakinformation</b></td>
                    <td><b>FAQ</b></td>
                    <td><b>Få mere at vide</b></td>
                </tr>
                <tr>
                    <td>Briesgade 33</td>
                    <td>Vidste du</td>
                    <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
                </tr>
                <tr>
                    <td>1326 København K</td>
                    <td>Masser af spild</td>
                    <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
                </tr>
            </table>

        </section>
    </footer>
</body>




</html>