<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="css/global-styles/footer.css"/>
    <link rel="stylesheet" href="css/global-styles/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="css/global-styles/header.css">
    <link rel="stylesheet" href="css/error.css">

    <header>
        <nav id="menu">
            <button id="opskrifter"> <a href="http://localhost:8080/Recipe"> Opskrifter </a></button>
            <button id="order"> <a href="http://localhost:8080/Order"> Bestilling </a></button>
            <button id="vision"> <a href="http://localhost:8080/OurVision"> Vores vision</a></button>
        </nav>

    </header>

    <div>
        <h1 style="alignment: center">Der er opstået et problem</h1>
    </div>

    <button id="button"; nclick="window.location.href='//www.youtube.com/watch?v=dQw4w9WgXcQ'">Klik her for at komme tilbage</button>
</head>
<body>

</body>

<footer id="footer">
    <section>
        <table id="fixed-footer-table">
            <tr>
                <td><b>Kontakinformation</b></td>
                <td><b>FAQ</b></td>
                <td><b>Få mere at vide</b></td>
            </tr>
            <tr>
                <td>Briesgade 33</td>
                <td>Vidste du</td>
                <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
            </tr>
            <tr>
                <td>1326 København K</td>
                <td>Masser af spild</td>
                <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
            </tr>
        </table>

    </section>
</footer>


</html>