<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bestilling</title>
    <link rel="stylesheet" href="css/order-pages/Order.css"> <!-- > skriv static/css... for at åbne direkte-->
    <link rel="stylesheet" type="text/css" href="css/global-styles/Header.css">
    <link rel="stylesheet" href="css/global-styles/footer.css"/> <!-- > skriv static/css... for at åbne direkte-->
    <link rel="stylesheet" href="css/global-styles/fonts.css"/> <!-- > skriv static/css... for at åbne direkte-->
    <link rel="stylesheet" href="css/global-styles/colors.css"/>

    <link rel="icon" href="css/images/favicon.ico"/>

</head>
<body>
<header>
    <div id="logoAndButtons">
        <a href="http://localhost:8080/home">
            <img id="logo" src="css/images/no_text_transparant_food_waste_logo.png" alt="Main logo">
        </a>

        <nav id="menu">
            <button onclick="window.location.href='/Recipe'"> Opskrifter </button>
            <button onclick="window.location.href='/Order'"> Bestilling </button>
            <button onclick="window.location.href='/OurVision'"> Vores vision </button>
        </nav>

        <div id="emptybox"> </div>
    </div>

</header>

<!-- (Kort med butikslogoer) -->
<div id="bg-img">
    <!-- Boks med indtast postnummer, gade -->
    <form class="formcontainer">
        <h1>Din lokation</h1>
        <label><b>Postnummer</b></label>
        <input type="text" placeholder="Postnummer" name="postnummer" required>
        <label><b>Gade</b></label>
        <input type="text" placeholder="Gadenavn" name="gade" required>
        <button type="submit" class="btn">Søg</button>
    </form>
</div>

<!-- Listevisning med butiksikoner -->
<section>
<div id="content-wrap">
    <div class="btn-container">
        <img src="/css/images/order-images/scottie_yellow.png"/> <!-- > skriv static/css... for at åbne direkte-->
        <input type="checkbox"  class="checkbox"/>
    </div>
    <div class="btn-container">
        <img src="/css/images/order-images/foetex_logo_RGB.png"/> <!-- > skriv static/css... for at åbne direkte-->
        <input type="checkbox"  class="checkbox"/>
    </div>
    <div class="btn-container">
        <img src="/css/images/order-images/Starbucks_Positive_Pantone.png"/> <!-- > skriv static/css... for at åbne direkte-->
        <input type="checkbox"  class="checkbox"/>
    </div>
    <div class="btn-container">
        <img src="/css/images/order-images/Bilka.png"/> <!-- > skriv static/css... for at åbne direkte-->
        <input type="checkbox"  class="checkbox"/>
    </div>
    <div class="btn-container">
        <img src="/css/images/order-images/Wupti_Positive_CMYK.png"/> <!-- > skriv static/css... for at åbne direkte-->
        <input type="checkbox"  class="checkbox"/>
    </div>
</div>
</section>

<div id="confirmation-button2">
    <button onclick="window.location.href='/confirm_order'"> Bekræft valg af butik </button>
</div>

</body>

<!-- footer -->
<footer id="footer">
    <section>
        <table id="fixed-footer-table">
            <tr>
                <td><b>Kontakinformation</b></td>
                <td><b>FAQ</b></td>
                <td><b>Få mere at vide</b></td>
            </tr>
            <tr>
                <td>Briesgade 33</td>
                <td>Vidste du</td>
                <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
            </tr>
            <tr>
                <td>1326 København K</td>
                <td>Masser af spild</td>
                <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
            </tr>
        </table>

    </section>
</footer>

</html>