<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bestillingsside</title>

    <link rel="stylesheet" href="css/Order-page.css">
    <link rel="stylesheet" type="text/css" href="css/global-styles/header.css">
    <link rel="stylesheet" href="css/global-styles/footer.css"/>
    <link rel="stylesheet" href="css/global-styles/fonts.css"/>
    <link rel="stylesheet" href="css/global-styles/colors.css"/>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="css/images/Favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="css/images/Favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="css/images/Favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="css/images/Favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="css/images/Favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="css/images/Favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="css/images/Favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="css/images/Favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="css/images/Favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="css/images/Favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="css/images/Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="css/images/Favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="css/images/Favicons/favicon-16x16.png">
    <link rel="manifest" href="css/images/Favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body id="background">

<header>
    <div id="logoAndButtons">
        <a href="http://localhost:8080/home">
            <img id="logo" src="css/images/no_text_transparant_food_waste_logo.png" alt="Main logo">
        </a>

        <nav id="menu">
            <button onclick="window.location.href='/Recipe'"> Opskrifter </button>
            <button onclick="window.location.href='/Order'"> Bestilling </button>
            <button onclick="window.location.href='/OurVision'"> Vores Vision </button>
        </nav>

        <div id="emptybox"> </div>
    </div>
    <div id="Headline">
        <h1> Hvad vi tilbyder </h1>
    </div>

</header>

<div id="logoAndFav">
    <img src="css/images/Order-page-images/netto-logo.png"
         height="100" width="100" align="left"; id="store_logo">
</div>

<!--Favorit-knap. Denne del af koden er lånt fra https://codepen.io/jcoulterdesign/pen/azQMqG/-->
<div class='brand'>
    <a href='https://www.jamiecoulter.co.uk' target='_blank'>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png'>
    </a>
</div>
<div class='wrapper' id="placer_like">
    <div class='wrapper_content'>
        <div class='wrapper_content__inner'>
            <input id='click' type='checkbox'>
            <label for='click'>
                <div class='favourite'>
                    <div class='spinner'>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                        <div class='spinner_part'></div>
                    </div>
                    <div class='favourite_heart'>
                        <div class='favourite_heart__left'></div>
                        <div class='favourite_heart__right'></div>
                    </div>
                    <div class='favourite_text'>
                        <span>Favourite this</span>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>

<div id="box1";>
    <div id="boxes">
        <div class="box2";>
            <h1 class="box_headline">Madkasse 1</h1>
            <div>
                <img src="css/images/Order-page-images/vegetable_bag.jpg" height="150" width="230" align="right"
                     id="img1" />
                <p>Denne madkasse er fyldt med alverdens grøntsager, der skal bruges snarest.<br><br><br>20 kr.</p>
                <button class="select_button" onclick="window.location.href='http://localhost:8080/confirm_order'">
                    Vælg </button>
            </div>

        </div>
        <div class="box2";>
            <h1 class="box_headline">Madkasse 2</h1>
            <img src="css/images/Order-page-images/Ready-made.png" height="150" width="300" align="right" id="img2"/>
            <p>Denne madkasse er en blanding af færdigretter, der nærmer sig sidste udløbsdato.<br><br><br>30 kr.</p>
            <div>
                <button class="select_button" onclick="window.location.href='http://localhost:8080/confirm_order'">
                    Vælg </button>
            </div>

        </div>
    </div>
</div>

<div id="box3";>
    <p><b>Adresse</b><br><br>Borgmestervangen 5<br>2200 København</p>
</div>

</body>

<footer id="footer"> <!--  style="position: relative; top: -550px;" -->
    <section>
        <table id="fixed-footer-table">
            <tr>
                <td><b>Kontakinformation</b></td>
                <td><b>FAQ</b></td>
                <td><b>Få mere at vide</b></td>
            </tr>
            <tr>
                <td>Briesgade 33</td>
                <td>Vidste du</td>
                <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
            </tr>
            <tr>
                <td>1326 København K</td>
                <td>Masser af spild</td>
                <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
            </tr>
        </table>

    </section>
</footer>

</body>
</html>