<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/Recipe/Recipe.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/Recipe/Checkbox.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/Recipe/FilterList.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/global-styles/Header.css">
    <link rel="stylesheet" href="css/global-styles/footer.css"/>
    <link rel="stylesheet" href="/static/css/global-styles/fonts.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/global-styles/colors.css">


</head>

<body>
<header id="mainHeader">
    <nav id="menu">
        <button id="opskrifter"> <a href="http://localhost:8080/Recipe"> Opskrifter </a></button>
        <button id="order"> <a href="http://localhost:8080/Order"> Bestilling </a></button>
        <button id="vision"> <a href="http://localhost:8080/OurVision"> Vores vision</a></button>
    </nav>

    <div id="logoAndHeadline">
        <a href="https://localhost:8080/">
            <img id="logo" src="/static/css/images/food-waste-logo.jpg" alt="Main logo">
        </a>
        <h1> Nemme Opskrifter </h1>
        <div id="emptybox"> </div>
    </div>

</header>

<main>

    <div id="checkbox">
        <h2 id="preferences"> Vælg præferencer </h2>
        <label class="container">Vegetarisk
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="container">Vegansk
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="container">Glutenfri
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="container">Nøddeallergi
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="container">Mejeri allergi
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>

        <label class="container">Halal
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>

    <div class="search">
        <label for="searchInput"></label>
        <input type="text" id="searchInput" onkeyup="myFunction()" placeholder="Søg efter opskrifter..">
        <ul id="items">
            <li><a href="#">Svensk pølseret</a></li>
            <li><a href="#">Mørbradgryde m. ris</a></li>
            <li><a href="http://localhost:8080/Recipe/spaghetti-carbonara">Spagetti carbonara *</a></li>
            <li><a href="#">Kylling i Karry</a></li>
            <li><a href="#">Forloren hare</a></li>
            <li><a href="#">Chili con carne</a></li>
            <li><a href="#">Broccolisalat</a></li>
            <li><a href="#">Græske frikadeller</a></li>
            <li><a href="#">Gullash-suppe</a></li>
            <li><a href="#">Tzatziki</a></li>
            <li><a href="#">Jordbærsalat</a></li>
            <li><a href="#">Lasagne</a></li>
            <li><a href="#">Flæskesteg</a></li>
            <li><a href="#">Dahl</a></li>
            <li><a href="#">Lasagne med grøntsager</a></li>
            <li><a href="#">Burger med kikærtebøffer</a></li>
            <li><a href="#">Gulerodssuppe</a></li>
            <li><a href="#">Panini brød</a></li>

        </ul>

        <script>
            // Some borrowed Javascript to search and hide items
            // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_list
            function myFunction() {
                // Declare variables
                let input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('searchInput');
                filter = input.value.toUpperCase();
                ul = document.getElementById("items");
                li = ul.getElementsByTagName('li');

                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
        </script>
    </div>


</main>
<footer id="footer">
    <section>
        <table id="fixed-footer-table">
            <tr>
                <td><b>Kontakinformation</b></td>
                <td><b>FAQ</b></td>
                <td><b>Få mere at vide</b></td>
            </tr>
            <tr>
                <td>Briesgade 33</td>
                <td>Vidste du</td>
                <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
            </tr>
            <tr>
                <td>1326 København K</td>
                <td>Masser af spild</td>
                <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
            </tr>
        </table>

    </section>
</footer>

</body>
</html>