<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spaghetti Carbonara</title>
  <link rel="stylesheet" type="text/css" href="/css/Recipe/Recipe2.css">
  <link rel="stylesheet" type="text/css" href="/css/global-styles/Header.css">
  <link rel="stylesheet" type="text/css" href="/css/global-styles/footer.css"/>
  <link rel="stylesheet" type="text/css" href="/css/global-styles/fonts.css"/>
  <link rel="stylesheet" type="text/css" href="/css/global-styles/colors.css">


</head>

<body>
<header>
  <div id="logoAndButtons">
    <a href="http://localhost:8080/home">
      <img id="logo" src="css/images/no_text_transparant_food_waste_logo.png" alt="Main logo">
    </a>

    <nav id="menu">
      <button onclick="window.location.href='/Recipe'"> Opskrifter </button>
      <button onclick="window.location.href='/Order'"> Bestilling </button>
      <button onclick="window.location.href='/OurVision'"> Vores vision </button>
    </nav>

    <div id="emptybox"> </div>
  </div>

  <div id="Headline">
    <h1> Spaghetti Carbonara </h1>
  </div>

</header>

<main>


  <div id="content">

    <div id="text">
      <h3 id="title">En dejlig opskrift på 30 minutter</h3>
      Dette er en virkelig dejlig opskrift,
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper fringilla nibh,
      id cursus ipsum dignissim a. Suspendisse vitae vestibulum odio, at maximus turpis.
      Pellentesque at risus consequat, gravida turpis ac, dignissim tellus.
      Pellentesque placerat magna egestas elit lacinia, in vulputate leo vehicula.
      Integer a risus lacinia, malesuada diam id, iaculis turpis. Nulla dapibus erat vitae metus tincidunt eleifend.
      Morbi ac sapien facilisis, molestie leo eget, accumsan magna.
      Phasellus aliquet neque urna, sit amet molestie sapien maximus et.
    </div>

    <img id="pictureoffood" src="/css/images/speghetti-carbonara.jpg" alt="Billede af ret">

  </div>

</main>
<footer id="footer">
  <section>
    <table id="fixed-footer-table">
      <tr>
        <td><b>Kontakinformation</b></td>
        <td><b>FAQ</b></td>
        <td><b>Få mere at vide</b></td>
      </tr>
      <tr>
        <td>Briesgade 33</td>
        <td>Vidste du</td>
        <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
      </tr>
      <tr>
        <td>1326 København K</td>
        <td>Masser af spild</td>
        <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
      </tr>
    </table>

  </section>
</footer>

</body>
</html>