<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/Recipe.css"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/Recipe"/>

</head>
<body>
<div class="header" style="text-align: center">
    <nav id="menu" style="background-color: aqua">
        <button style="margin: 20px" id="opskrifter"> Opskrifter </button>
        <button style="margin: 20px" id="Bestilling"> Bestilling </button>
        <button style="margin: 20px" id="Vision"> Vores Vission </button>
    </nav>

    <h1 style="background-color: red; margin: 0px"> Nemme Opskrifter </h1>
</div>

<div style="text-align: center; margin: 50px">
<form id="form">
    <input type="search" id="query" name="q" placeholder="Search...">
    <button>Search</button>
</form>
</div>


</body>
</html>