<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>

    <!-- Således laver man kommentarer -->

    <link rel="stylesheet" href="/static/static/css/startPage.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/global-styles/header.css">


</head>
<body>

<header>
    <nav id="menu">
        <button style="margin-right: 300px; margin-left: 230px"> <a href="http://localhost:8080/Recipe"> Opskrifter </a></button>
        <button> <a href="http://localhost:8080/Order"> Bestilling </a></button>
        <button style="margin-left: 300px" > <a href="http://localhost:8080/OurVision"> Vores vision</a></button>
    </nav>


    <div id="logoAndHeadline">
        <a href="https://localhost:8080/">
            <img id="logo" src="/static/css/Logo%20image/food-waste-logo.jpg" alt="Main logo">
        </a>

    </div>


<header id="header">
    <header id="overkskrift">Still tasty - no wasty</header>
</header>
</header>

<img src="/static/Grøntsager.jpg" id="grøntsager">



<div id="gallery">
    <table>
        <tr>
            <!--Redigering af første billede-->
            <td>
                <div class="imgContainer">
                    <div>
                        <img src="/static/Grøntsager.jpg" width="70%" height="70%"/>

                    </div>

                    <div class="imgButton">
                        <button class="knap">Opskrifter</button>
                    </div>
                </div>
            </td>




            <!--Redigering af andet billede-->
            <td>
                <div class="imgContainer">
                    <div>
                        <img src="/static/Grøntsager.jpg" width="70%" height="70%"/>
                    </div>
                    <div class="imgButton">
                        <button class="knap">Bestilling</button>
                    </div>
                </div>
            </td>




            <!--Redigering af tredje billede-->
            <td>
                <div class="imgContainer">
                    <div>

                        <img src="/static/Grøntsager.jpg" width="70%" height="70%"/>

                    </div>

                    <div class="imgButton">
                        <button class="knap">Vores Vision</button>
                    </div>
                </div>
            </td>

        </tr>
    </table>

</div>

</body>


<footer id="footer">
    <section>
        <table id="fixed-footer-table">
            <tr>
                <td><b>Kontakinformation</b></td>
                <td><b>FAQ</b></td>
                <td><b>Få mere at vide</b></td>
            </tr>
            <tr>
                <td>Briesgade 33</td>
                <td>Vidste du</td>
                <td><a href="https://politiken.dk/search/?q=madspild">Politiken</a></td>
            </tr>
            <tr>
                <td>1326 København K</td>
                <td>Masser af spild</td>
                <td><a href="https://www.berlingske.dk/search?query=madspild">Berlingske</a></td>
            </tr>
        </table>

    </section>

</footer>


</html>