<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>

    <!-- Således laver man kommentarer -->

    <link rel="stylesheet" href="/css/startPage.css"> <!-- > skriv static/css... for at åbne direkte-->
    <link rel="stylesheet" href="http://localhost:8080/">

</head>
<body>

<nav id="menu">
    <button style="margin-right: 100px"  id="opskrifter">Opskrifter</button>
    <button style="margin-right: 100px"  id="Bestilling">Bestilling</button>
    <button id="Vision">Vores Vision</button>
</nav>

<header id="header">
    <header id="overkskrift">Still tasty - no wasty</header>
</header>

<img src="Grøntsager.jpg" id="grøntsager">



<div id="gallery">
    <table>
        <tr>
            <!--Redigering af første billede-->
            <td>
                <div class="imgContainer">
                    <div>
                        <img src="Grøntsager.jpg" width="70%" height="70%"/>

                    </div>

                    <div class="imgButton">
                        <button class="knap">Opskrifter</button>
                    </div>
                </div>
            </td>




            <!--Redigering af andet billede-->
            <td>
                <div class="imgContainer">
                    <div>
                        <img src="Grøntsager.jpg" width="70%" height="70%"/>
                    </div>
                    <div class="imgButton">
                        <button class="knap">Bestilling</button>
                    </div>
                </div>
            </td>




            <!--Redigering af tredje billede-->
            <td>
                <div class="imgContainer">
                    <div>

                        <img src="Grøntsager.jpg" width="70%" height="70%"/>

                    </div>

                    <div class="imgButton">
                        <button class="knap">Vores Vision</button>
                    </div>
                </div>
            </td>

        </tr>
    </table>

</div>

</body>


<footer id="fod">
    <table>
        <td style="padding-right: 100px"> Kontakinformation</td>
        <td style="padding-right: 100px">FAQ</td>
        <td>Få mere at vide</td>
    </table>


    <table>
        <td style="padding-right: 80px"> CVR: 92938238384 <br>kea@gmail.com <br>Briegade 33 <br>4300 København K< </td>
        <td style="padding-right: 40px">Vidste du <br> Masser af spild </td>
        <td>politikken <br> Berlingske <br> halfan Rasmussens </td>
    </table>
</footer>


</html>