<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- hej -->

    <link rel="stylesheet" href="css/startPage.css">

</head>
<body>

<nav id="menu">
    <button style="margin: 20px" id="opskrifter">Opskrifter</button>
    <button style="margin: 20px" id="Bestilling">Bestilling</button>
    <button style="margin: 20px" id="Vision">Vores Vission</button>
</nav>

<div id="header">
    <header id="overkskrift">STOP MADSPILD!!!</header>
</div>

<div id="grøntsager">

    <img src="../Ressourcer/Grøntsager.png" alt=" STOP MADSPILD" width="40%">

</div>


<div id="div2">
    <section id="section">

    </section>
</div>

<div class="gallery">


</div>


</body>
</html>