<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks Buying</title>

    <link rel="stylesheet" href="static/css/ThanksBuying.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<nav id="menu">
    <button style="margin-right: 100px"  id="opskrifter">Opskrifter</button>
    <button style="margin-right: 100px"  id="Bestilling">Bestilling</button>
    <button id="Vision">Vores Vision</button>
</nav>

<!--
<div>
    <h2 id="header"> Hvad vi tilbyder </h2>
</div>
-->

<div id="shoppingcart">
    <i class="fa fa-shopping-cart" style="font-size:400px"></i>
</div>


<div>
    <h1 id="header2">Tak for dit køb</h1>
</div>




<div class="radio-buttons">

    <input type="radio" name="radio" style="conten:fa fa-heart ">
    <label class="custom-radio">Favorit</label>


</div>




</body>
</html>