#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 160px;
    clear: both;
    text-align: left;
    padding: 0;
    border-top: 2px solid black;
    font-family: "Trebuchet MS", serif;
    font-size: 16px;
    color: #fff;
}

#fixed-footer-table {
    table-layout: auto;
    width: auto;

}

#fixed-footer-table, td, th {
    padding: 5px;
}

footer a{
    color: #ffffff;
}