#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align: left;
    border-top: 2px solid black;
    font-size: 16px;
    background-color: #039ee6ff;
    position: relative;
    padding-bottom: 20px;
}

#fixed-footer-table {
    table-layout: fixed;
    width: 500px;

}